/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  --base-button-color: #c1c1c1;
  --hover-button-color: #fff;
  --searchButton-border: #dfdfdf;
  --progress-time-color: #d9d9d9;
  --artist-name-color: #b3b3b3;

  --nowPlaying-bar-bg: #000;
  --nowPlaying-BorderTop: #191919;
  --body-bg: #000;
  --navBar-container: #1d1d1d;
  --card-bg: #1d1d1d;
  --card-hover: #303030;
  --progressbar-bg: #535353;
}

.entityInfo {
  padding-top: 0.2rem;
  display: inline-block;
  width: 100%;
}

.entityInfo .leftSection {
  float: left;
  width: 30%;
}

.entityInfo .leftSection .albumImg {
  width: 20rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.rightSection {
  float: right;
  width: 70%;
  margin-top: 1rem;
}

.rightSection h2 {
  font-size: 1.5rem;
}

.rightSection p {
  color: #dfdfdf;
}

.trackList {
  padding: 0;
}

.trackListRow {
  padding: 1rem 0.675rem;
  height: 2.5rem;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.trackListRow:hover {
  background-color: #282828;
  border-radius: 4px;
}

.trackListRow span {
  color: #f9f9f9;
  font-weight: 300;
}

.trackListRow .trackCount {
  width: 8%;
  float: left;
}

.trackListRow .trackCount .play {
  position: absolute;
  cursor: pointer;
  left: 22.8%;
  visibility: hidden;
}

.trackListRow .trackCount span {
  visibility: visible;
}

.trackListRow:hover .trackCount .play {
  visibility: visible;
}

.trackListRow:hover .trackCount span {
  visibility: hidden;
}
.trackListRow .trackInfo {
  width: 75%;
  float: left;
}

.trackListRow .trackInfo .trackName {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.3rem;
}

.trackListRow .trackInfo .artistName {
  font-size: 0.8rem;
  color: #dfdfdf;
}

.trackListRow .trackInfo span {
  display: block;
}

.trackListRow .trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}

.trackListRow .trackOptions .optionsButton {
  visibility: hidden;
  cursor: pointer;
}

.trackListRow:hover .trackOptions .optionsButton {
  visibility: visible;
}

.trackListRow .trackDuration {
  width: 12%;
  float: left;
  text-align: right;
}
