/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

.artistInfo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

.button {
  color: #fff;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  width: 10rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  cursor: pointer;
}

.button:hover {
  border: none;
  background-color: #fcc419;
  border: 2px solid #fcc419;
  color: #000;
}

.borderBottom {
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}

.sectionHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

[role="link"] {
  cursor: pointer;
}
