/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

.artistInfo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

.button {
  color: #fff;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  width: 10rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  cursor: pointer;
}

.button:hover {
  border: none;
  background-color: #fcc419;
  border: 2px solid #fcc419;
  color: #000;
}

.buttonItems .button {
  width: 15rem;
}

.buttonDelete {
  color: #fff;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  width: 10rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  cursor: pointer;
}

.buttonDelete:hover {
  border: none;
  background-color: #e84c4c;
  border: 2px solid #e84c4c;
  color: #000;
}

.buttonItems .buttonDelete {
  width: 15rem;
}

.borderBottom {
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}

.sectionHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

[role="link"] {
  cursor: pointer;
}

/* SearchBar */

.searchContainer {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.searchContainer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 1px;
}

.searchContainer .searchInput {
  width: 100%;
  height: 5%;
  outline: none;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #606060;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  background: transparent;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.searchContainer .searchInput:focus {
  border-bottom: 1.5px solid #fff;
}

.searchTrackListContainer {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 10px;
}

.searchTrackListContainer .trackListRow .trackCount .play {
  left: 23.8%;
}

.searchBorderBottom {
  margin-bottom: 1rem;
}

.noResults {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.gridViewContainer .noResults {
  padding: 0 1rem;
}

.artistsContainer {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 10px;
}
.searchResultRow {
  padding: 0.4rem 1rem;
}

.gridViewContainer .sectionHeading {
  padding: 1rem;
}

.searchResultRow .artistName {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.playlistContainer {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 10px;
}
